.flex-container {
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
}



.container{
    font-family: arial,sans-serif;
}

.google-advance{
    display: block;
}

